extends layout

block content
  h1= title

    p A book is a stack of usually rectangular pages bound to the flexible spine of a protective cover of heavier, relatively inflexible material. 
    p It's free ,it's awsome,it's yours. 
    p Feel free to read your favourite book.